@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
.todo {
  margin-top: 0;
  padding-top: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  position: relative;
}

#my-name {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.effective-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-text-desc {
  width: 40vw;
  height: 40px;
}

.task-list {
  list-style-type: none;
}

.input-text-todo {
  width: 40vw;
  text-align: center;
}

.task-label {
  padding: 0;
  margin: 0;
}

.task-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35vw;
}

.task-statue {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #f39c12;
}

.finishedStatue {
  background-color: #28b463;
}

.main-part {
  width: 40vw;
}

.task-desc {
  border-left: #f39c12 2px solid;
  width: calc(35vw - 20px);
  margin-left: 10px;
}

.taskDescFinished {
  border-left: #28b463 2px solid;
}

.action {
  cursor: pointer;
}

.text-field {
  padding: 0;
  margin: 0 0 0 20px;
}

.text-field p {
  padding: 0;
  margin: 0;
  text-align: start;
}

.bottom-part {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
}

.action-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 12vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.action-text {
  opacity: 0.6;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.action-text:hover {
  scale: 1.25;
}

.selection {
  opacity: 1;
}

.control-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.control-set p {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */